<h1>Your Text Analysis</h1>

<h2>Number of Words: <%= "#{@analyzed_test.count_of_words}"%></h2>

<h2>Vowels: <%= "#{@analyzed_test.count_of_vowels}"%></h2>

<h2>Consonants: <%= "#{@analyzed_test.count_of_consonants}"%></h2>

<% @analyzed_test.most_used_letter.collect do |key, value|%>
<% @key = key.upcase %>
<% @value = value %>
<% end %>
<h2>Most Common Letter: <%= "#{@key}, used #{@value} times"%></h2>
